@charset "utf-8";
section{
	background: #eeeeee;
	padding-top: 20px;
	padding-bottom: 430px;
}
section .banner{
	width: 713px;
	margin: 0 auto;
	background: #fff;
}
.banner ul{
	padding: 15px 0 12px;
}
.banner ul li{
	float: left;
	font-size: 30px;
	text-align: center;
	height: 60px;
	line-height: 60px;
	color: #303030;
}
.banner .one,.banner .two,.banner .three{
	width: 668px;
	margin: 0 auto ;
	border-bottom: 1px solid #c2c2c2;
}
.banner .one li:not(:last-child),.banner .two li:not(:last-child),.banner .three li:not(:last-child){
	border-right: 1px solid #c2c2c2;
}
.banner .two ul li,.banner .three ul li{
	width: 49.5%;
}
.banner .one li:first-child{
	color: #ff5b00;
	width: 122px;
}
.banner .one li:nth-child(2){
	width: 287px;
}
.banner .one li:last-child{
	width: 257px;
}
.staus{
	width: 70px;
	height: 28px;
	margin:17px auto 0;
}
.banner .staus li{
	width: 16px;
	height: 16px;
	border-radius: 8px;
	border:1px solid #a3a3a3;
}
.staus li:not(:last-child){
	margin-right: 6px;
}
.banner .staus li:hover{
	background: #fe9002;
}
section .banner ul:after{
	display: block;
	clear: both;
	content: '';
}
section .chongzhi {
	width: 100%;
	background: #fff;
	margin-top: 10px;
}
.chongzhi ul li{
	height: 96px;
	line-height: 96px;
	font-size: 30px;
	color: #474747;
	border-bottom: 1px solid #c2c2c2;
}
.chongzhi ul li p{
	margin-left: 28px;
}
.chongzhi ul li p img{
	vertical-align: middle;
	margin-right: 16px;
}
.chongzhi ul li:last-child{
	color: #a2a1a1;
	text-align: center;
	border-bottom: none;
}
