@charset "utf-8";
section .left{
	width: 177px;
	background: #fece02;
}
section .left li{
	border-bottom: 2px solid #d4d4d4;
	background: #f8f8f8;
	height: 90px;
	line-height: 90px;
	text-align: center;
}
section .left ul .active{
	background: #fff;
	width:172px;
	margin-left: 5px;
	color: #fea31e;
}
section .left li{
	color: #3c3c3c;
	font-size: 30px;
}
section .content{
	width: 573px;
}
section .content ul{
	display: none;
}
section .content .show{
	display: block;
}
section .content ul li{
	padding-left: 24px;
	border-bottom: 1px solid #a1a1a1;
	padding-top: 17px;
	padding-bottom: 17px;javascript:void(0);
	background: #fff;
}
section .content .show li:first-child{
	font-size: 30px;
	color: #565656;
	line-height: 47px;
	background: #f8f8f8;
	text-indent: 8px;
	padding-top: 0;
}
section .content ul li .img{javascript:void(0)
	width: 187px;
	text-align: center;
}
section .content ul li .img img{
	margin-top: 50px;
}
section .content ul li .font{
	position: relative;
	width: 362px;
}
section .content ul li .font h3{
	font-size: 28px;
	font-weight: normal;
	color: #404040;
}
section .content ul li .font img{
	margin-content: 8px;
}
section .content ul li .font p{
	font-size: 30px;
	color: #929091;
}
section .content ul li .font span{
	font-size: 36px;
	color: #ff4100;
}
section .content ul li .font .buy{
	width: 100px;
	height: 43px;
	line-height: 43px;
	border-radius: 10px;
	text-align: center;
	font-size: 22px;
	color: #fff;
	margin: 10px 0 5px;
	background: #f85252;
}
section .content ul li .font a{
	display: block;
	position: absolute;
	bottom: 5px;
	right: 15px;
}
section .content ul li:after{
	display: block;
	clear: both;
	content: '';
}

