.logo{
	height: 7.4rem;
	width: 100%;
	background: url(../imgs/log_bg.jpg) 0 0 repeat-y;
}
.logo img{
	display: block;
	margin: 0 auto;
}
nav{
	position: relative;
	height: 2.2rem;
	background: #363636;
	color: #fff;
	font-size: 0.7rem;
	font-family: "微软雅黑";
}
.nav{
	position: absolute;
	left: 14rem;
	top: 0;
}
nav .active a, nav a:hover{
	color: #c5842d;
	border-bottom: 2px solid #fff;
}
nav li{
    text-align: center;
	width: 3.6rem;
	line-height: 2.2rem;
	float: left;
	margin-right: 3.4rem;
}
nav a{
	line-height: 2.1rem;
}



.foot .foot-cat{
	height: 13.5rem;
	background: #000;
}
.foot .foot-cat ul{
	float: left;
	width: 9.3rem;
	padding-top: 3.5rem;
}
.foot .foot-cat-1{
	margin-left: 5.8rem;
}
.foot .foot-cat li{
	line-height: 1.2rem;
	color: #858585;
	font-size: 12px;
	text-align: center;
}
.foot .foot-cat h1{
	line-height: 1.8rem;
	color: #cdcccc;
	font-size: 0.9rem;
}

.foot .foot-contact{
	height: 2.3rem;
	background: #1e1e1e;
}
.foot .foot-contact ul{
	width: 56rem;
	margin: 0 auto;
}
.foot .foot-contact li{
	color: #b1b1ae;
	font-size: 12px;
	font-family: "宋体";
	float: left;
	line-height: 2.3rem;
	padding-right: 3.5rem;
}
.foot .foot-contact-l{
	padding-left: 7rem;
}
