@charset "utf-8";
/*reset.css*/
html{
    font-size: 20px;
}
body{
    /* font-size: 12px; */
}

.clear:after{
	content: '';
	display: block;
	clear: both;
}
.con{
	background: #000;
}
.con .banner{
	position: relative;
	height: 20.2rem;
}
.con .banner h3{
	color: #b9b9b9;
	font-size: 12px;
	line-height: 2rem;
}
.con .banner h1{
	color: #fff;
	font-size: 3.6rem;
	text-align: center;
	padding: 2.4rem 0;
}
.con .banner span{
	display: block;
	width: 2rem;
	border: 1px solid #c5842d;
	margin: 0 auto;
}
.con .banner p{
	/*width: 38rem;*/
	line-height: 1.5rem;
	color: #878787;
	font-size: 0.9rem;
	margin: atuo;
	padding: 2rem 0;
	text-align: center;
}
.con .female, .con .male{
	border-top: 1px solid #a0a0a0;
	position: relative;
	padding-bottom: 7.5rem;
}
.con .female .female-img-01{
	position: absolute;
	top: 0;
	right: 0;
}
.con .female-title{
	position: absolute;
	left: 10.5rem;
	top: 6rem;
}
.con .male-title{
	position: absolute;
	left: 38rem;
	top: 7rem;
}

.con .female-title h1, .con .male-title h1{
	font-size: 2.4rem;
	color: #fff;
}
.con .female-title p, .con .male-title p{
	font-size: 0.9rem;
	color: #878787;
	width: 21.5rem;
	margin-top: 1rem;
	line-height: 1.5rem;
}
.con .female h2, .con .male h2{
	font-size: 1.8rem;
	color: #fff;
	font-weight: normal;
	margin: 24.5rem auto 0;
	text-align: center;
	font-style: italic;
}
.con .male h2{
	margin: 2rem auto 0;
	
}
.con .female ul, .con .male ul{
	width: 62.5rem;
	/*position: absolute;
	top: 32.25rem;
	left: 5rem;*/
	margin: 170px auto 0;
}
.con .female li, .con .male li{
	float: left;
	/*width: 24.68%;*/
	text-align: center;
}
.con .female ul img, .con .male ul img {
    padding: 0 2rem;
	border-right: 1px solid #a0a0a0;
}
.con .border-none{
	border-right: none;
}
.con .female ul p, .con .male ul p{
	font-size: 14px;
	color: #fff;
	line-height: 1rem;
	padding-top: 1rem;
}
.con .female .dot, .con .male .dot{
    position: absolute;
    left: 50%;
    margin-left: -48px;
    bottom: 5rem;
}
.con .female .dot span, .con .male .dot span{
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    border: 1px solid #fff;
    border-radius: 5px;
    float: left;
    margin: 0 0.5rem;
}
.con .female .dot .active, .con .female .dot span:hover, .con .male .dot .active, .con .male .dot span:hover{
    background: #fff;
}

.arrow{
	display: block;
	width: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 72px;
	color: #a7a4a4;
	position: absolute;
	top: 830px;
	cursor: pointer;
}
.arrow-left{
	left: 10px;
}
.arrow-right{
	right: 10px;
}




.con .con-bottom{
	background: #fff;
	padding: 120px 0;
}
.con .con-bottom .pos{
    position: relative;
}
.con .con-bottom .pos-1 {
    margin-bottom: 1rem;
}
.con .con-bottom .text{
	width: 10rem;
	height: 3.5rem;
	position: absolute;
    left: 12rem;
    top: 5.5rem;
	z-index: 2;
}
.con .con-bottom img{
	display: block;
	margin: 0 auto;
	z-index: 1;
}
.con .con-bottom h1{
    color: #fff;
	font-size: 1rem;
    padding-bottom: 0.5rem;
}
.con .con-bottom p{
	font-size: 0.7rem;
	color: #c5842d;
}
.box{
	margin-left: 3%;
}
