@charset "utf-8";
article p{
	font-size: 14px;
	color: #000;
	line-height: 40px;
}
section li{
	margin: 15px 0;
}
.navbar{
	margin-bottom: 0;
	border-radius: 0;
}
#game-list .game-item{
	position: relative;
	overflow: hidden;
}
#game-list .game-item p{
	width: 86%;
	// height: 100%;
	 margin: 0 auto;
	 font-size: 12px;
	 line-height: 20px;
	 position: absolute;
	 top: 10px;
	 left: -86%;
	 color: #fff;
	 // background: rgba(0, 0, 0, 0.5);
}




@media (min-width: 768px){
	article ul{
		-webkit-padding-start: 20px;!important;
	}
}